@import url("fonts/fonts.css");
@import url("stylesheets/reset.css");

.example::-webkit-scrollbar {
  display: none;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 0px;
  background-color: rebeccapurple;
  display: flex;
  flex-direction: row;
  aside {
    font-size: 1rem;
    flex-basis: 150px;
    flex-shrink: 0;
    height: 100vh;
    background-color: #262626;
    color: white;
    overflow: scroll;
    scrollbar-color: black;
    /* scrollbar-width: none; */
    nav {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      overflow: scroll;
      margin-top: 5vh;
      button {
        color: white;
        height: 1rem;
      }
      div {
        /* flex-grow:1; */
        margin: 3px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        img {
          filter: invert();
          height: 1rem;
          width: 1rem;
          margin-right: 1ch;
        }
        padding-left: 1rem;
      }
      div:hover {
        background-color: rgb(240, 1, 1, 0.3);
        border-radius: 2px;
      }
      /* .inboxContainer::after{
                content:"";
                display:block;
                border-bottom:2px white;
                margin:20px 0;
            } */
    }
    nav::-webkit-scrollbar {
      display: none;
    }
  }
  aside::-webkit-scrollbar {
    display: none;
  }
  #content::-webkit-scrollbar {
    display: none;
  }
  #content {
    /* -ms-overflow-style:none; */
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    overflow: scroll;
    width: 100%;
    background-color: #1e1e1e;
    height: 100vh;
    color: white;
    #header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      flex-basis: 60px;
      height: 10vh;
      margin: 3vw;
      #headline {
        display: flex;
        flex-grow: 6;
        flex-basis: 4rem;
        font-size: 2rem;
        font-weight: 500;
        /* text-decoration:underline; */
      }
      #options {
        display: flex;
        position: absolute;
        top: 0px;
        right: 0px;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: flex-start;
        #ellipsis {
          margin: 10px;
          height: 1rem;
          filter: invert();
        }
      }
    }
    .headlineContent {
      font-size: 1rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 10px;
      margin: 3vw;
      .card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #262626;
        padding: 5px;
        width: 300px;
        height: 15ch;
        border-radius: 6px;
        color: white;
        border: 1px solid rgba(103, 102, 102, 0.7);
        border- input {
          color: red;
          align-self: center;
        }
        .cardFooter,
        .cardHeader {
          text-align: start;
          .textDue {
            text-align: end;
          }
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .deleteButton {
            background-color: blue;
            padding-left: 4px;
            padding-right: 4px;
            border-radius: 4px;
          }
          .deleteButton:hover {
            background-color: red;
            color: yellow;
          }
          .textTitle {
            font-size: 1.1rem;
            text-decoration: underline;
          }
        }
        .textDesc {
          overflow: scroll;
        }
        .textDesc::-webkit-scrollbar {
          display: none;
        }
        div {
          text-align: end;
          input {
            background-color: rgb(113, 3, 3, 0.1);
            height: 1rem;
            width: 1rem;
            color: black;
            border-radius: 2px;
          }
          label {
            color: black;
          }
          /* background-color: blue; */
        }
      }
      .card:hover {
        box-shadow: 0 0 1rem rgb(124, 124, 124);
      }
    }
  }
}
